body {
    margin: 8px;
}

h1,h2 {
    margin: 9px;
}

#cabeçalho {
    background-color: burlywood;
    color: black;
    text-align: center;
    padding: 8px;
    margin: 24px;
}
.foto img {
    width: 790px;
    height: 474px;
}

a:hover{
    color:red;
}
h1:hover{

    letter-spacing: 10px;
}